.brand {
  width: 100%;
  background-color: #f1e4e6;
  background-image: url("/img/man.png");
  background-repeat: no-repeat;
  background-position: left center;
}
.brand-wrp {
  min-height: 764px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}
.brand_description {
  margin-left: 612px;
}
.brand_description_title_wrp {
  margin: 0 0 0 50px;
  text-transform: uppercase;
  position: relative;
}
.brand_description_title_wrp::before {
  content: " ";
  height: 92px;
  width: 12px;
  display: block;
  background-color: #f16d7f;
  position: absolute;
  top: -1px;
  left: -28px;
}
.brand_description_title {
  margin: 0;
  font-size: 48px;
  font-weight: 900;
  font-style: normal;
  line-height: 58px;
  font-family: 'Lato', sans-serif;
}
.brand_description_subtitle {
  margin: 0;
  font-size: 32px;
  font-weight: 700;
  font-style: normal;
  line-height: 38px;
}
.brand_description_subtitle span {
  color: #f16d7f;
}
