.featured {
  margin-bottom: 95px;
  width: 100%;
}
.featured_section {
  display: flex;
  flex-direction: column;
}
.featured_header {
  text-align: center;
  margin: 0 auto 48px auto;
  width: 100%;
}
.featured_header_big {
  font-size: 30px;
  font-weight: 300;
  font-style: normal;
  line-height: 36px;
  margin-bottom: 6px;
}
.featured_items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.featured_item_img {
  display: block;
}
.featured_listing {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  text-decoration: none;
  list-style-type: none;
}
.featured_listing li {
  box-sizing: border-box;
  display: inline-block;
  letter-spacing: normal;
  margin: 0 0 4px 0;
  vertical-align: top;
}
.featured_listing li:nth-child(3n+2) {
  margin: 0 30px;
}
.featured_item {
  width: 357px;
  flex-grow: 1;
  box-sizing: border-box;
  margin-bottom: 50px;
}
.featured_brand {
  font-size: 13px;
  font-weight: 600;
  font-style: normal;
  line-height: 16px;
  margin-top: 25px;
}
.featured_price {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 19px;
  color: #f16d7f;
}
.featured_browse {
  padding: 14px 38px;
  color: #f26376;
  border: 1px solid #f26376;
  background-color: white;
  max-width: 211px;
  margin: 0 auto;
}
.featured_browse:hover {
  color: white;
  border-color: #f26376;
  background-color: #f26376;
}
.description_txt {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 17px;
  color: #9f9f9f;
  margin: 0;
}
