.pagination {
  margin: 19px auto 97px auto;
  height: 43px;
  width: 283px;
  display: flex;
  border: 1px solid #ebebeb;
  padding: 13px 16px;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
.featured_item_page {
  list-style: none;
  display: flex;
  padding-left: 17px;
}
.featured_item_page_number {
  margin-right: 20px;
}
.featured_item_page_dots {
  color: #ebebeb;
  margin: 0;
}
.page_number {
  text-decoration: none;
  color: #ebebeb;
}
.page_number_active {
  text-decoration: none;
  color: #ef5b70;
}
