.product_carousel {
  background-color: #f7f7f7;
  width: 100%;
}
.product_carousel_slide {
  width: 100%;
}
.product_carousel_img {
  height: 724px;
  width: 597px;
  display: block;
  margin: 0 auto;
}
.product_carousel_arrow {
  background-color: #6f6e6e;
  height: 47px;
  width: 47px;
  display: block;
  color: #6f6e6e;
  top: 50%;
  bottom: 0;
}
.product_description {
  position: relative;
  margin-top: -70px;
}
.product_description_card {
  text-align: center;
  padding: 65px 250px;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid #eaeaea;
  margin-bottom: 130px;
}
.product_description_card_subtitle {
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  line-height: 17px;
  color: #f16d7f;
  margin-bottom: 27px;
}
.product_description_card_subtitle:after {
  content: "";
  border-bottom: 3px solid #ef5b70;
  width: 63px;
  display: block;
  margin: 12px auto 0 auto;
}
.product_description_card_header {
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  line-height: 22px;
  color: #4d4d4d;
  margin-bottom: 48px;
}
.product_description_card_txt {
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  line-height: 17px;
  color: #5e5e5e;
  margin-bottom: 32px;
}
.product_description_card_price {
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  line-height: 29px;
  color: #ef5b70;
  margin-bottom: 65px;
}
.product_description_card_options {
  list-style: none;
  display: flex;
  justify-content: center;
}
.product_description_card_options li {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 17px;
  color: #6f6e6e;
  display: flex;
}
.product_description_card_options li:nth-child(2) {
  margin: 0 42px;
}
.product_description_card_btn {
  height: 47px;
  width: 211px;
  border: 1px solid #f26376;
  background-color: white;
  display: flex;
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;
  justify-content: center;
}
.product_description_card_btn span {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 19px;
  color: #f26376;
}
.product_description_card_btn svg {
  height: 26px;
  width: 24px;
  display: block;
  fill: #f26376;
  margin-right: 23px;
}
.options_txt {
  text-transform: uppercase;
}
.options_angle {
  color: #6f6e6e;
  display: inline;
  margin-left: 10px;
  vertical-align: middle;
}
