.promo {
  margin-top: 65px;
  margin-bottom: 96px;
}
.promo_desc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
.promo_article {
  display: flex;
  padding: 130px;
  background-repeat: no-repeat;
  text-align: center;
  position: relative;
}
.promo_adv_woman {
  background-image: url("/img/woman.jpg");
  margin-right: 30px;
  flex-grow: 1;
}
.promo_adv_desc {
  margin: auto;
  z-index: 2;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}
.promo_adv_title {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 19px;
  color: white;
  margin: 0;
}
.promo_adv_subtitle {
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  line-height: 29px;
  color: #f16d7f;
  margin: 0;
}
.promo_adv_man {
  background-image: url("/img/man.jpg");
  flex-grow: 1;
  margin-right: 30px;
}
.promo_adv_kids {
  background-image: url("/img/kids.jpg");
  flex-grow: 1;
}
.promo_category {
  margin-top: 30px;
  width: 100%;
  justify-content: space-between;
}
.promo_adv_long {
  display: flex;
  background-repeat: no-repeat;
  text-align: center;
  position: relative;
  width: 100%;
  padding: 90px 489px;
  background-image: url("/img/accesories.jpg");
  margin-top: 30px;
}
.link {
  text-decoration: none;
  color: black;
}
.fog {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  content: '';
  background-color: rgba(0, 0, 0, 0.4);
}
