.service {
  width: 100%;
  background-color: #222224;
}
.service_information {
  display: flex;
}
.service_information_item {
  flex-grow: 1;
  margin: 104px 0;
}
.service_information_item:nth-child(2) {
  margin: 104px 30px;
}
.service_information_item svg {
  height: 32px;
  width: 45px;
  display: block;
  fill: #f16d7f;
  margin: 0 auto;
}
.service_information_header {
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  line-height: 24px;
  color: #fbfbfb;
  text-align: center;
  margin-bottom: 16px;
}
.service_information_description {
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  line-height: 17px;
  text-align: center;
  color: #fbfbfb;
}
